nav {
    /* background: linear-gradient(75deg, rgb(29, 28, 28), rgb(63, 61, 61)); */
    /* opacity: 0.95; */

    background-color: #022442;
    position: fixed; 
    
    width: 100%;
    z-index: 100;
}
.img-responsive {
    border-radius: 1px;
}
.row {
    margin: 0px !important;
}
.box img {
    height: 100%;
    width: auto;
    cursor: pointer;
    border-radius: 1px;
}
.box.small {
    height: 60px;
    padding: 10px;
}

.bar {
    background: white;
    height: 2px;
    display: inline-block;
    position: relative;
    width: 20px;
    opacity: 0.9;
    transition:0.5s;
}
.bar::before,
.bar::after {
    content: "";
    background: white;
    height: 2px;
    display: block;
    position: absolute;
    width: 20px;
     transition:0.1s;
}
.bar::before {
    top: 6px;
}
.bar::after {
    top: -6px;
}
.nav-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

@media all and (max-width: 600px) {
    .nav-row {
        flex-direction: column;
       /* display: none;*/
       opacity:0;
        height:0;
        overflow:hidden;
        align-items:center;
         transition: opacity 1s ease-out;

    }
    .toggle {
        display: block !important;
    }
    .nav-row.active {
       /* display: block;*/
opacity:1;
        height:auto;
       
    }
}

.toggle {
    cursor: pointer;
    position: absolute;
    display: none;
    top: 20px;
    right: 10px;
}

.toggle.open .bar{
    background:transparent;
}
.toggle.open .bar::before{
   transform:rotate(45deg);
   top:0;
}
.toggle.open .bar::after{
   transform:rotate(135deg);
   top:0;
}

