button{
    background-color: transparent;
    font-weight: 400;
    display: inline;
    padding-left: 10px !important;
    border: beige;
    cursor: pointer;
    opacity: 0.9;
    font-weight: 400;
    font-size: 1.6rem !important;
}
button:hover{
    opacity: 1;
    font-weight: 800;
}