.title-text{
    padding: 10px;
    /* padding-left: 0px !important; */
    width: 100%;
}
.title-text b{
    font-weight: 800;
    /* background: linear-gradient(55deg, #033a69, burlywood, #033a69);  */
    color: black;
    text-align: left;
    opacity: 0.9;
    color: #02182c;
    padding-left: 30px;
    padding-top: 30px;
    font-weight: 800;
    font-size: 3rem!important;
}
.title-text h1{
    text-align: left;
    font-size: 3rem!important;
}
.title-text h3{
    font-weight: 800;
    /* background: linear-gradient(55deg, #094477, #033a69, #094477);  */
    color: black;
    opacity: 0.9;
    text-align: left;
    padding-left: 30px;
}
hr{
    background-color: burlywood;
    padding: 1px;
    margin-left: 30px!important;
}
@media (max-width: 990px){
    .title-text{
        padding: 10px;
        /* padding-left: 0px !important; */
    }
    .title-text b{
        font-weight: 800;
        /* background: linear-gradient(55deg, #033a69, burlywood, #033a69);  */
        padding-left: 10px;
        padding-top: 15px;
        font-size: 1.6rem;
    }
    .title-text h3{
        padding-left: 10px;
        font-size: 1.6rem;
    }
    hr{
        padding: 0.5px;
        margin-left: 10px!important;
    }
}